<h2><%= @ranter.handle %></h2>
<img src="<%= @ranter.gravatar_url %>" />

<%= form_for Rant.new  do |f| %>
  <%= f.hidden_field :ranter_id, value: @ranter.id %>
  <%= f.text_field :message %>
  <%= f.file_field :photo %>
  <%= f.submit 'Rant' %>
<% end %>

<ul>
  <% @ranter.rants.descending.each do |rant| %>
    <li>
      <p><%= rant.message %></p>
      <span><%= rant.created_at %></span>
      <a href="<%= rant.photo.url %>">
        <img src="<%= rant.photo.url(:thumbnail) %>">
      </a>
    </li>
  <% end %>
</ul>
